@import 'typeface-inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@layer components {
  .cutout {
    @apply relative; /* Tailwind utility for positioning */
    mask: url('assets/menu-cutout.svg');
    mask-size: cover;
    -webkit-mask: url('assets/menu-cutout.svg');
    -webkit-mask-size: cover;
  }
}
