@import 'typeface-inter';
@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@layer components {
  .cutout {
    @apply relative; /* Tailwind utility for positioning */
    mask: url('assets/menu-cutout.svg');
    mask-size: cover;
    -webkit-mask: url('assets/menu-cutout.svg');
    -webkit-mask-size: cover;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
